.root {
  @apply bg-white text-zinc-800 cursor-pointer inline-flex px-10 rounded-sm leading-6  transition ease-in-out duration-150 shadow-sm font-semibold text-center justify-center uppercase py-4 border border-transparent items-center;
}

.root:hover {
  @apply bg-zinc-800 text-white border border-white;
}

.root:focus {
  @apply outline-none ring-2 ring-purple-500 ring-opacity-50;
}

.root[data-active] {
  @apply bg-zinc-600;
}

.loading {
  @apply bg-zinc-700 text-zinc-500 border-zinc-600 cursor-not-allowed;
}

.slim {
  @apply py-2 transform-none normal-case;
}

.disabled,
.disabled:hover {
  @apply text-zinc-400 border-zinc-600 bg-zinc-700 cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
/* my bs  */
/* I want to add a shimmer effect in this css  */

.shimmer {
  background: linear-gradient(
    90deg,
    #b195c1df 0%,
    #37105192 45%,
    #57476000 55%
  );
  background-size: 400% 400%;
  animation: shimmer 1.2s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 75%;
  }
  25% {
    background-position: 50% 75%;
  }
  50% {
    background-position: 25% 50%;
  }
  75% {
    background-position: 10% 25%;
  }
  100% {
    background-position: 0% 10%;
  }
}
